{% extends "index.html" %}

{% block content %}
    <!-- Menu no topo -->
    <div class="top-menu">
        <button onclick="window.location.href='{{ url_for('novo_cliente') }}'">Novo Cliente</button>
        <button id="showPesquisarButton" onclick="togglePesquisar()">Pesquisar</button>
        <button onclick="window.location.href='{{ url_for('clientes') }}'">Lista de Clientes</button>
 
    </div>

    <!-- Estilo para o menu no topo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='clientes.css') }}">

    <!-- Campo de Pesquisa (oculto inicialmente) -->
    <div id="pesquisarForm" class="hidden">
        <form action="{{ url_for('clientes') }}" method="GET">
            <input type="text" name="nome" placeholder="Pesquisar por Nome" value="{{ request.args.get('nome', '') }}">
            <button type="submit">Pesquisar</button>
        </form>
    </div>

    <!-- Lista de Clientes -->
    <h2>Lista de Clientes Cadastrados</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome Completo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td><a href="{{ url_for('visualizar_cliente', id=cliente.id) }}" target="_blank">{{ cliente.id }}</a></td>
                <td><a href="{{ url_for('visualizar_cliente', id=cliente.id) }}" target="_blank">{{ cliente.nome_completo }}</a></td>
                <td>
                    <a href="{{ url_for('editar_cliente', id=cliente.id) }}">Editar</a>
                    <form action="{{ url_for('deletar_cliente', id=cliente.id) }}" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirmarExclusao()">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function confirmarExclusao() {
            return confirm("Você realmente deseja excluir este cliente?");
        }

        function togglePesquisar() {
            var pesquisarForm = document.getElementById("pesquisarForm");
            var button = document.getElementById("showPesquisarButton");

            if (pesquisarForm.classList.contains("hidden")) {
                pesquisarForm.classList.remove("hidden");
                button.innerText = "Cancelar Pesquisa";
            } else {
                pesquisarForm.classList.add("hidden");
                button.innerText = "Pesquisar";
            }
        }
    </script>

{% endblock %}
