{% extends "index.html" %}

{% block content %}
    <title>Controle de Caixa</title>
</head>
<body>
    <h1>Controle de Caixa</h1>

    <!-- Formulário de Filtro -->
    <form method="GET" action="/controle_caixa">
        <label for="cliente">Cliente:</label>
        <input type="text" name="cliente" id="cliente" placeholder="Nome do cliente">

        <label for="titulo">Título do Livro:</label>
        <input type="text" name="titulo" id="titulo" placeholder="Título do livro">

        <label for="data">Data (AAAA-MM-DD):</label>
        <input type="date" name="data" id="data">

        <button type="submit" class="btn btn-primary" >Filtrar</button>
    </form>

    <!-- Tabela de Vendas -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Cliente</th>
                <th>Valor Pago</th>
                <th>Data/Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{ venda.id }}</td>
                <td>{{ venda.livro.titulo }}</td>
                <td>{{ venda.cliente.nome_completo }}</td>
                <td>{{ venda.valor_pago }}</td>
                <td>{{ venda.data_venda.strftime('%d/%m/%Y %H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}