{% extends "index.html" %}

{% block content %}
    <div class="container mt-4">
        <h1>Detalhes do Livro</h1>
        <p><strong>Título:</strong> {{ livro.titulo }}</p>
        <p><strong>Autor:</strong> {{ livro.autor }}</p>
        <p><strong>Editora:</strong> {{ livro.editora }}</p>
        <p><strong>Gênero:</strong> {{ livro.idade_leitura }}</p>
        <p><strong>ISBN:</strong> {{ livro.isbn }}</p>
        <p><strong>Ano:</strong> {{ livro.ano }}</p>
        <p><strong>Páginas:</strong> {{ livro.num_paginas }}</p>
        <p><strong>Valor:</strong> {{ livro.valor }}</p>
        <p><strong>Unidades:</strong> {{ livro.estoque }}</p>
        {% if livro.capa_livro %}
        {% if livro.capa_livro.startswith('http') %}
            <img src="{{ livro.capa_livro }}" alt="Capa do livro" class="img-fluid my-3">
        {% else %}
            <img src="{{ url_for('static', filename='uploads/' ~ livro.capa_livro) }}" alt="Capa do livro" class="img-fluid my-3">
        {% endif %}
        {% endif %}
    
        <!-- Botão Voltar -->
        <button class="btn btn-secondary" onclick="fecharJanela()">Voltar</button>

        <!-- Botão Salvar como PDF -->
        <button class="btn btn-primary" onclick="salvarComoPDF()">Salvar</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script>
        function fecharJanela() {
            window.close();
        }

        function salvarComoPDF() {
            const { jsPDF } = window.jspdf;

            // Criar uma nova instância do jsPDF
            const doc = new jsPDF();

            // Adicionar os dados do livro no PDF
            doc.text("Detalhes do Livro", 10, 10);
            doc.text(`Título: ${document.querySelector('[data-livro="titulo"]').innerText}`, 10, 20);
            doc.text(`Autor: ${document.querySelector('[data-livro="autor"]').innerText}`, 10, 30);
            doc.text(`Editora: ${document.querySelector('[data-livro="editora"]').innerText}`, 10, 40);
            doc.text(`ISBN: ${document.querySelector('[data-livro="isbn"]').innerText}`, 10, 50);
            doc.text(`Ano: ${document.querySelector('[data-livro="ano"]').innerText}`, 10, 60);
            doc.text(`Páginas: ${document.querySelector('[data-livro="paginas"]').innerText}`, 10, 70);
            doc.text(`Valor: ${document.querySelector('[data-livro="valor"]').innerText}`, 10, 80);
            doc.text(`Gênero: ${document.querySelector('[data-livro="idade_leitura"]').innerText}`, 10, 90);

            // Salvar o arquivo PDF com o nome 'detalhes_livro.pdf'
            doc.save("detalhes_livro.pdf");
        }
    </script>
{% endblock %}
